.square{
    height: 400px;
    width: 400px;
    background-color: #a6a9b6;
    border: 10px solid #666360;
    position: relative;
  }
  .first{
    height: 200px;
    width: 200px;
    position: absolute;
  }
  
  .orange{
    background-color: #ff912e;
    top: 200px;
  }
  
  .gray{
    background-color: #e4e4e4;
    bottom: 200px;
    left: 200px;
  }